* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

:root {
  --white: #fff;
  --gray: #c3c3c3;
  --gray-light: rgba(195, 195, 195, 0.13);
  --purple: #4f19c223;
  --blue-dark: #0455bf;
  --blue-light: #0487d9;
}

html {
  font-size: 62.5%
}

body {
  display: flex;
  font-family: "Open Sans", sans-serif;
  
  justify-content: center;

  height: 100vh;
}

body,
input, 
button,
.button {
  font-size: clamp(14px, 1.6rem, 2vw);
}

input {
  padding: .8rem;
  border-radius: .8rem;

  border: 1px solid var(--gray);

  margin-bottom: 1.5rem;
  outline: none;
}

button, .button-cancel {
  border-radius: .8rem;
  padding: 1.5rem 2.5rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  white-space: nowrap;
  border-width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
